name: test

on:
  push:
    branches:
      - master
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - run: perl -V
      - uses: actions/checkout@v4

      - name: Cache multiple paths
        uses: actions/cache@v4
        with:
          path: |
            ~/perl5
          key: perl5-${{ runner.os }}-${{ hashFiles('dist.ini') }}
          restore-keys: |
            perl5-${{ runner.os }}-

      - name: setup perl
        run: |
          echo "$HOME/perl5/bin" >> "$GITHUB_PATH"
          echo "PERL5LIB=$HOME/perl5/lib/perl5" >> "$GITHUB_ENV"
      - name: install dependencies
        run: |
          curl -L https://cpanmin.us | perl - -L ~/perl5 App::cpanminus
          cpanm -L ~/perl5 -n Dist::Zilla Test::Pod Test::Pod::Coverage
          dzil authordeps --missing | cpanm -L ~/perl5 -n
      - run: dzil test
      - run: dzil build

      - uses: actions/upload-artifact@v4
        with:
          name: Devel-PatchPerl.tar.gz
          path: Devel-PatchPerl-*.tar.gz

  test:
    runs-on: ubuntu-latest
    needs:
      - build
    strategy:
      fail-fast: false
      matrix:
        perl:
          - "5.32.0"
          - "5.31.11"
          - "5.31.10"
          - "5.31.9"
          - "5.31.8"
          - "5.31.7"
          - "5.31.6"
          - "5.31.5"
          - "5.31.4"
          - "5.31.3"
          - "5.31.2"
          - "5.31.1"
          - "5.31.0"
          - "5.30.3"
          - "5.30.2"
          - "5.30.1"
          - "5.30.0"
          - "5.29.10"
          - "5.29.9"
          - "5.29.8"
          - "5.29.7"
          - "5.29.6"
          - "5.29.5"
          - "5.29.4"
          - "5.29.3"
          - "5.29.2"
          - "5.29.1"
          - "5.29.0"
          - "5.28.3"
          - "5.28.2"
          - "5.28.1"
          - "5.28.0"
          - "5.27.11"
          - "5.27.10"
          - "5.27.9"
          - "5.27.8"
          - "5.27.7"
          - "5.27.6"
          - "5.27.5"
          - "5.27.4"
          - "5.27.3"
          - "5.27.2"
          - "5.27.1"
          - "5.27.0"
          - "5.26.3"
          - "5.26.2"
          - "5.26.1"
          - "5.26.0"
          - "5.25.10"
          - "5.25.9"
          - "5.25.8"
          - "5.25.7"
          - "5.25.6"
          - "5.25.5"
          - "5.25.4"
          - "5.25.3"
          - "5.25.2"
          - "5.25.1"
          - "5.25.0"
          - "5.24.4"
          - "5.24.3"
          - "5.24.2"
          - "5.24.1"
          - "5.24.0"
          - "5.23.9"
          - "5.23.8"
          - "5.23.7"
          - "5.23.6"
          - "5.23.5"
          - "5.23.4"
          - "5.23.3"
          - "5.23.2"
          - "5.23.1"
          - "5.23.0"
          - "5.22.4"
          - "5.22.3"
          - "5.22.2"
          - "5.22.1"
          - "5.22.0"
          - "5.21.11"
          - "5.21.10"
          - "5.21.9"
          - "5.21.8"
          - "5.21.7"
          - "5.21.6"
          - "5.21.5"
          - "5.21.4"
          - "5.21.3"
          - "5.21.2"
          - "5.21.1"
          - "5.21.0"
          - "5.20.3"
          - "5.20.2"
          - "5.20.1"
          - "5.20.0"
          - "5.19.11"
          - "5.19.10"
          - "5.19.9"
          - "5.19.8"
          - "5.19.7"
          - "5.19.6"
          - "5.19.5"
          - "5.19.4"
          - "5.19.3"
          - "5.19.2"
          - "5.19.1"
          - "5.19.0"
          - "5.18.4"
          - "5.18.3"
          - "5.18.2"
          - "5.18.1"
          - "5.18.0"
          - "5.17.11"
          - "5.17.10"
          - "5.17.9"
          - "5.17.8"
          - "5.17.7"
          - "5.17.6"
          - "5.17.5"
          - "5.17.4"
          - "5.17.3"
          - "5.17.2"
          - "5.17.1"
          - "5.17.0"
          - "5.16.3"
          - "5.16.2"
          - "5.16.1"
          - "5.16.0"
          - "5.15.9"
          - "5.15.8"
          - "5.15.7"
          - "5.15.6"
          - "5.15.5"
          - "5.15.4"
          - "5.15.3"
          - "5.15.2"
          - "5.15.1"
          - "5.15.0"
          - "5.14.4"
          - "5.14.3"
          - "5.14.2"
          - "5.14.1"
          - "5.14.0"
          - "5.13.11"
          - "5.13.10"
          - "5.13.9"
          - "5.13.8"
          - "5.13.7"
          - "5.13.6"
          - "5.13.5"
          - "5.13.4"
          - "5.13.3"
          - "5.13.2"
          - "5.13.1"
          - "5.13.0"
          - "5.12.5"
          - "5.12.4"
          - "5.12.3"
          - "5.12.2"
          - "5.12.1"
          - "5.12.0"
          - "5.11.5"
          - "5.11.4"
          - "5.11.3"
          - "5.11.2"
          - "5.11.1"
          - "5.11.0"
          - "5.10.1"
          - "5.10.0"
          - "5.9.5"
          - "5.9.4"
          - "5.9.3"
          - "5.9.2"
          - "5.9.1"
          - "5.9.0"
          - "5.8.9"
          - "5.8.8"
          - "5.8.7"
          - "5.8.6"
          - "5.8.5"
          - "5.8.4"
          - "5.8.3"
          - "5.8.2"
          - "5.8.1"
          - "5.8.0"

    steps:
      - uses: actions/checkout@v4
      - name: setup perl
        run: |
          echo "$HOME/perl5/bin" >> "$GITHUB_PATH"
          echo "PERL5LIB=$HOME/perl5/lib/perl5" >> "$GITHUB_ENV"
      - uses: actions/download-artifact@v4
        with:
          name: Devel-PatchPerl.tar.gz
      - name: install dependencies
        run: |
          curl -L https://cpanmin.us | perl - -L ~/perl5 App::cpanminus
          cpanm -L ~/perl5 -n Devel-PatchPerl-*.tar.gz
          cpanm -L ~/perl5 -n CPAN::Perl::Releases::MetaCPAN Try::Tiny File::pushd File::Temp Test::Pod::Coverage Test::Pod
      - name: build Perl
        run: |
          .github/build-perl.pl "$PERL_VERSION"
        env:
          PERL_VERSION: ${{ matrix.perl }}
